<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/app.css">-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

</head>
<body>
<!--<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>-->
<!--<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>-->
<!--<div ng-switch on="currentUser.role">-->
<!--<div ng-switch-when="userRoles.admin">You're admin.</div>-->
<!--<div ng-switch-when="userRoles.editor">You're editor.</div>-->
<!--<div ng-switch-default>You're something else.</div>-->
<!--</div>-->
<!--<div id="login-holder">-->
<!--<div auth-application=""></div>-->
<!--</div>-->
<div ng-view></div>

</body>
</html>
