Search: <input ng-model="query">
<button ng-click="update()">Update</button>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th data-field="date_time">Date</th>
            <th data-field="payee">Payee</th>
            <th data-field="amount">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bill in bills | filter:query"  ng-click="select_bill(bill)">
            <td ng-bind="bill.date_time | date : 'yyyy-MM-dd HH:mm'"></td>
            <td ng-bind="payees_lookup[bill.payee].short_name"></td>
            <td ng-bind="bill.amount"></td>
        </tr>
        </tbody>
    </table>
</div>
