<form ng-submit="submit()" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-2" for="date">Date:</label>
        <div class="col-sm-10">
            <datetimepicker data-ng-model="current_bill.date_time"
            data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"
            ></datetimepicker>
            <input id="date" type="date_time" class="form-control" ng-model="current_bill.date_time">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="amount">Amount:</label>
        <div class="col-sm-10">
            <input id="amount" type="text" class="form-control" ng-model="current_bill.amount">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="payee">Payee:</label>
        <div class="col-sm-10">
            <select id="payee" ng-model="current_bill.payee" class="form-control">
                <option data-ng-repeat="p in payees" value="{{p.id}}">{{p.short_name}}</option>
            </select>
        </div>
    </div>
    <table>
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>Description</th>-->
        <!--<th>Amount</th>-->
        <!--<th>Comment</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tbody>
        <tr ng-repeat="item in current_bill.items">
            {{item | json}}
            <td><input type="text" ng-model="item.description" placeholder="Description"></td>
            <td><input type="text" ng-model="item.amount" placeholder="Amount"></td>
            <td><input type="text" ng-model="item.comment" placeholder="Comment"></td>
        </tr>
        </tbody>
    </table>
    <!--<div class="form-group">-->
    <!--<bill-item ng-repeat="item in current_bill.items"></bill-item>-->
    <!--</div>-->
    <!--<bill-item/>-->
    <input type="submit">
</form>
<!--{{payee_id}}-->
<!-- {{payees}} -->
<!--{{current_bill | json}}-->
<!--<hr>-->
<!--{{current_bill.items | json}}-->
