<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div check-details></div>
        </div>
        <div class="col-lg-4">
            <div check-list></div>
        </div>
    </div>
</div>
